@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'SCoreDream', 'Tium';
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

/* 상단메뉴 */
.top_menu {
    background-color: #000;
}

.top_in {
    width: 1400px;
    margin: 10px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_in ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.t_left a {
    color: #fff;
    padding: 5px 50px;
    display: block;
}

.green {
    background-color: #008944;
}

.brown {
    background-color: #7e5300;
}

.border {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.t_right img {
    color: #ec0e0e;
    padding-left: 30px;
    display: block;
}

.t_right img:hover {
    color: #9dc708;
    text-decoration: underline;
}

.green:hover {
    background-color: #005a2d;
}

.brown:hover {
    background-color: #573a00;
}

.top_in a:hover {
    color: red;
}

.sns {
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
}

.sns a {
    display: block;
    margin-left: 10px;
    opacity: 0.5;
}

.sns div {
    flex: 1;
    text-align: center;
}

.sns div p {
    color: #17c03c;
    padding-top: 10px;
}

.sns a:hover {
    opacity: 1;
    color: #eeeb35
}

/* 헤더 */
.header {
    border-bottom: 2px solid #ccc;
    position: relative;
}

.header_in {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_in a{
    text-decoration: none;
    color: #333;
    display: inline-block;
    border: 2px solid #333;
    padding: 10px 5px;
    font-size: 18px;
    font-weight: 700;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 0px #c6f50b;
    transition: 0.3s;
}
.header_in a:hover{
    transform: translateY(5px);
    box-shadow: 0 0 0 #ccc;
}
.nav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.header_in img {
    display: block;
}

.nav> li> a {
    display: block;
    margin: 15px;
    font-size: 18px;
    font-weight: 800;
}

.nav> li> a:hover {
    color: #2ec2ac;
}

/* 서브메뉴 꾸미기 */
.sub {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 100;
}

.nav> li {
    position: relative;
}

.sub a {
    background-color: #11a3c1;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.sub a:hover {
    background-color: #09617a;
}

/* 서브메뉴 보이게 만들기*/
.nav li:hover .sub {
    display: block;
}

/* 서브메뉴 배경 꾸미기 */
.nav .sub_bg {
    position: absolute;
    width: 100%;
    height: 310px;
    background-color: #8be218;
    left: 0;
    top: 88px;
    display: none;
}

/* 내용 */
.contents {
    width: 1320px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}




/* 슬라이드 */
.slide {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slide img {
    width: 100%;
}
.slide .swiper-slide {
    background-color: #ceeb11;
}

.slide .swiper-button-next,
.slide .swiper-button-prev {
    color: #5bef17;
}

.slide .swiper-button-next:hover,
.slide .swiper-button-prev:hover {
    color: #efc715;
}

.slide .swiper-pagination-bullet {
    background-color: #fff;
    width: 50px;
    border-radius: 50px;
}

.slide .swiper-pagination-bullet-active {
    background-color: #ccdfbd;
}

.gallery-center {
    width: 1400px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.gallery-center .img {
    width: 100%;
}

.gallery-center .swiper-slide {
    opacity: 0.5;
    transform: scale(0.8, 0.8);
}

.gallery-center .swiper-slide-active {
    opacity: 1;
    transform: scale(1, 1);
}

h1 {
    margin: 30px;
    color: #0e0e0e;
    font-size: 30px;
}

/* 슬라이드 */

/* 코스 */

.course {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.course{
    list-style: none;
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.course h4{
    overflow: hidden;
}
.course img{
    display: block;
    transition: 1s;
}
.course div:hover img{
    transform: scale(1.5, 1.5);
}
.course div {
    flex: 1;
    text-align: center;
}

.course div p {
    color: #2207d0;
    padding-top: 10px;
}

.course div:hover p,
.course div:hover h3 {
    color: #009223;
}

.wrap {
    width: 1400px;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}


/* lnb */

.inb{
    width: 580px;
    height: 585px;
    position: relative;
    margin: auto;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.inb:hover img{
    transform: rotateY(180deg);
    opacity: 1;
}
.inb img{
    transition: 1s;
}


/* 오른쪽 내용 */
.contents {
    width: 1400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contents{
    list-style: none;
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contents h4{
    overflow: hidden;
}
.contents img{
    display: block;
    transition: 1s;
}
.contents img:hover{
    transform: scale(1.5, 1.5);
}
.text {
    width: 330px;
    margin: 3px;
    background-color: #bbec6d;
    padding: 10px;
    box-sizing: border-box;
}


h3 {
    padding: 10px;
    color: #3514ec;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
}

.view {
    width: 1400px;
    margin: 20px;
    display: flex;

}
.view{
    width: 1400px;
    height: 600px;
    position: relative;
    margin: auto;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.view:hover img{
    transform: rotateY(180deg);
    opacity: 1;
}
.view img{
    transition: 1s;
}

/* 기념비광장 여행지 */
.trip {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.trip {
    list-style: none;
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.trip h4{
    overflow: hidden;
}
.trip  img{
    display: block;
    transition: 1s;
}
.trip  img:hover{
    transform: scale(1.5, 1.5);
}
.trip div {
    flex: 1;
    text-align: center;
}

.trip div p {
    color: #3103e9;
    padding-top: 20px;
}

.trip div:hover p,
.trip div:hover h3 {
    color: #009223;
}

/* 마드리드 여행지 */
.madrid {
    width: 1360px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.madrid{
    list-style: none;
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.madrid h4{
    overflow: hidden;
}
.madrid img{
    display: block;
    transition: 1s;
}
.madrid img:hover{
    transform: scale(1.5, 1.5);
}
.madrid div {
    flex: 1;
    text-align: center;
}

.madrid div p {
    color: #0e24ee;
    padding: 10px;
}

.madrid div:hover p,
.madrid div:hover h3 {
    color: #009223;
}

/* 최근에 본 여행지 */


/* 푸터 */
footer {
    background-color: #333;
    padding: 30px 0;
}

.footer_in {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_in p {
    width: 100%;
    color: #999;
}

.footer_in ul {
    display: flex;
}

.f_link li a {
    color: #ccc;
    font-weight: bold;
    display: block;
    margin: 20px 20px 10px;
}

.f_link li a:hover {
    color: #ffce32;
}

/* 탑 버튼 꾸미기 */
section {
    height: 3cm;
    background: skyblue;
    text-align: center;
}


.top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
}
